# OSX
.DS_Store
.vscode/

.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Transitory files
.#*

# Gurobi logs
*.log

# py
__pycache__/
*.py[cod]
*$py.class

# dummy ignore dummy object created by analyzer
/src/analyzer/dummy
